WAF_DATA_DIR=/opt/1panel/apps/openresty/openresty/1pwaf/data
APP_PORT=5000

# Basic Authentication Settings (Optional)
# Leave blank to disable basic authentication
BASIC_AUTH_USERNAME=admin
BASIC_AUTH_PASSWORD=secret
